{% extends 'base.html.twig' %}

{% block title %}Group Sessions{% endblock %}

{% block body %}
    <h1>Group Sessions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Coach</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_session in group_sessions %}
            <tr>
                <td>{{ group_session.name }}</td>
                <td>{{ group_session.coach }}</td>
                <td>{{ group_session.description }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
