<h3>Registration Confirmation</h3>

<p>
    Hi {{ client.name }}! To complete registration, please
    <a href="{{ url('client_activate', { 'code': client.emailConfirmationCode }) }}">follow this link</a>.
</p>

<p>Thanks!</p>
