<h3>Registration Confirmation</h3>

Hi {{ client.name }}! To complete registration, please <a href="{{ url('security_login') }}">follow this link</a>.

Confirmation Code: {{ client.emailConfirmationCode }}

Thanks!
